.lesson {
    width: 200px;
    height: 100px;
   }
  
.section-blue {
  background-color: blue;

}
  
.container { background-color: black;
  color: aliceblue;

}

#section-1 { background-color: blueviolet;
  color: aliceblue;

}

#section-6 { background-color: blueviolet;
color: yellow;
}
