.lesson {
    width: 200px;
    height: 100px;
   }
  
.section-blue {
  background-color: blue;
color: brown;
}
  
.container { background-color: black;
  color: rgb(255, 255, 255);

}

#section-1 { background-color: blueviolet;
  color: rgb(179, 220, 12);

}

#section-6 { background-color: rgb(0, 0, 0);
color: yellow;
}

