header {
  width: 100%;
  background-color: lightblue;
}

h2 {
  text-align: left;
}

ul {
  text-align:center;
  color: #ffffff;
  width: 80%;
  margin: auto;
}

/* List items in navigation bar */
li {
  /* TODO: Add your code here */
  list-style-type: none;
  font-size: 40px;
  display: inline;
}

/* Boxes */
img {
  /* TODO: Add your code here */
  margin:auto;
  display: block;
  width: 10%;
}

#item-1 {
  background-color: #e0115f;
}

#item-2 {
  background-color: #0000ff;
}

#item-3 {
  background-color: #999900;
}

/* Box 3 */
#image-3 {
  /* TODO: Add your code here */
  display: block;
}
/* Sets display of all elements with class selector to block */
.display-block {
  display: block;
}

/* Sets display of all elements with class selector to inline */
.display-inline {
  display: inline;
}

/* Sets display of all elements with class selector to inline */
.display-none {
  display: none;
}